<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.babysparks.videoads"
        version="0.1.1">

  <name>Video Ads</name>
  <description>Video Ads for non pruchasers</description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!--
  <asset src="www/hello.js" target="js/hello.js"/>
  -->

  <!-- JavaScript interface -->
  <js-module  src="www/videoads.js" 
              name="videoads"
              target="js/videoads.js">
    <clobbers target="videoads" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="VideoAds">
        <param name="android-package" value="com.babysparks.plugins.VideoAds"/>
      </feature>
      <!--
      <feature name="MBmain">
        <param name="android-package" value="com.babysparks.plugins.MBmain"/>
      </feature>
      -->
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      
      <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.babysparks.plugins.MBmain" android:exported="true"/>
      <activity
          android:name="com.mediabrix.android.service.AdViewActivity"
          android:configChanges="orientation|screenSize|keyboard"
          android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
      </activity>
      <service
          android:name="com.mediabrix.android.service.MediaBrixService" >
      </service> 
    </config-file>
    
    <source-file src="src/android/mediabrix/mediabrix-sdk-FBless.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/mediabrix/android-support-v4.jar" target-dir="libs" framework="true" />
    <source-file src="src/android/VideoAds.java" target-dir="src/com/babysparks/plugins/" />
    <source-file src="src/android/MBmain.java" target-dir="src/com/babysparks/plugins/" />
    
    <!--
    <source-file src="src/android/mediabrix/android-support-v4.jar" target-dir="libs" />
    <source-file src="src/android/mediabrix/MediaBrixPlugin.jar" target-dir="libs" />
    
    
    <source-file src="src/android/mediabrix/mediabrix-sdk-FBless.jar" target-dir="src/com/mediabrix/android/" />
    <source-file src="src/android/mediabrix/android-support-v4.jar" target-dir="src/com/mediabrix/android/" />
    <source-file src="src/android/mediabrix/MediaBrixPlugin.jar" target-dir="src/com/mediabrix/android/" />
    -->
    <!--<source-file src="src/android/mediabrix/MediaBrixPlugin.jar" target-dir="src/com/mediabrix/android/" />-->
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>