<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.babysparks.plugins"
        version="0.9.1">

  <name>MediaBrix Video Ads</name>
  <description>Video Ads for non pruchasers</description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <!--
  <asset src="www/hello.js" target="js/hello.js"/>
  -->

  <!-- JavaScript interface -->
  <js-module  src="www/MediaBrixCDVPlugin.js" 
              name="MediaBrixCDVPlugin"
              target="js/MediaBrixPlugin.js">
    <clobbers target="MediaBrixCDVPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MediaBrixCDVPlugin">
        <param name="android-package" value="com.babysparks.plugins.MediaBrixCDVPlugin"/>
      </feature>
      <!--
      <feature name="MBmain">
        <param name="android-package" value="com.babysparks.plugins.MBmain"/>
      </feature>
      -->
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      
      <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
          android:name="com.mediabrix.android.service.AdViewActivity"
          android:configChanges="orientation|screenSize|keyboard"
          android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
      </activity>
      <service
          android:name="com.mediabrix.android.service.MediaBrixService" >
      </service> 
    </config-file>
    
    <source-file src="android/libs/mediabrix-sdk-FBless.jar" target-dir="libs" framework="true" />
    <source-file src="android/libs/android-support-v4.jar" target-dir="libs" framework="true" />
    <source-file src="android/src/MediaBrixCDVPlugin.java" target-dir="src/com/babysparks/plugins/" />
  </platform>

</plugin>